<mat-card class="intro">
  <mat-card-header>
    <mat-card-title>Panda Slogan</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="1:1">
      <div>
      <mat-grid-tile><a routerLink="/register">Ent</a></mat-grid-tile>
      <mat-grid-tile><a routerLink="/register">Inv</a></mat-grid-tile>
      <mat-grid-tile><a routerLink="/register">Res</a></mat-grid-tile>
      </div>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><a routerLink="/about">LEARN MORE</a></button>
  </mat-card-actions>
</mat-card>