<div layout-fill layout="column" layout-align="center none">
  <div layout="row" layout-align="center none">
    <mat-card>
      <mat-card-content>
      <h2>What it is</h2>
      <p>
        Panda is a game for the hustlers, guiding start-ups to 
        getting their businesses started and running in a 
        competitive leaderboard. Connecting entrepreneurs, 
        researchers and investors in a single, interactive, 
        classifieds. 
      </p>
      <mat-divider></mat-divider>
      <h2>How it works</h2>
      <p>There are three key players:</p>
      <mat-list>
        <mat-list-item>1. Entrepreneurs</mat-list-item>
        <mat-list-item>2. Investors</mat-list-item>
        <mat-list-item>3. Researchers</mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <p>
        <strong>Entrepreneurs</strong> register with their CIPC Customer Code, 
        and are guided into <strong>starting up their business</strong> through 
        objectives and goals to achieve.
      </p>
      <p>
        As they achieve these goals and grow, they <strong>earn points and experience</strong>
        , which can be spent on tangible <strong>benefits 
        for their company and business</strong>, e.g. A sit down with an <strong>Investor</strong>
        , advertising advantages, services, etc. <strong>Entrepreneurs</strong> are limited to one
        company in the game, with a limited lifespan in the game.
      </p>
      <mat-divider></mat-divider>
      <p>
        <strong>Investors</strong>, as their name suggests, can <strong>Invest in the Entrepreneurs</strong>
        and give them advantages in the game.
      </p>
      <mat-divider></mat-divider>
      <p>
        <strong>Researchers</strong> analyse the game and its players, <strong>giving insight and analytics</strong>.
        They can also offer their services to the <strong>Entrepreneurs</strong>
      </p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-button><a routerLink="/home">PANDA!</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>