<div>
  <mat-toolbar color="primary">
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <span id="Logo">PANDA</span>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item><span id="Logo"><a routerLink="/home">PANDA</a></span></button>
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Missions</button>
    <button mat-menu-item>Goals</button>
    <button mat-menu-item>Company</button>
    <button mat-menu-item>Settings</button>
  </mat-menu>
</div>