.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
.navbar-toggle.pull-left {
    margin-left: 15px;
}

.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=ffffff');
}